html, body {height: 100%;}
body {
 margin: 0;
 font-family: Roboto, "Helvetica Neue", sans-serif;
}
.error-snackbar {
 background-color: darkmagenta;
 color: white;
}
.success-snackbar {
 background-color: darkcyan;
 color: white;
}
.full-width {
 width: 100%;
}